<div id="container-instructions">

    <h1>Game 1: <b>Bonus Points!</b></h1>

    <hr>

    <div class="instructions well">

        <p>
            Try to learn as quickly as possible! At the end of the HIT, we will
            convert all of the points you win into a <b>Bonus Payment</b>. Learning which goals go with which
            colors will earn you a higher payment.
        </p>
        <br>
        <p>
            You can't loose any points but keep in mind you aren't
            guaranteed to win any either.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-11">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
