<div id="container-instructions">

    <h1>Instructions: Game 2</h1>

    <hr>

    <div class="instructions well">

        <p>
            In this next game, you will use what you have learned from the first game to guess where you think
            the goal is.
        </p>
        <br>
        <p>
            You won't see the colors we used in the previous game again. All of the colors will be new to you.
        </p>
        <br>
        <p>
            On each trial, we will tell you which four keys you can move around the maze. We will either tell you
            to use the <b><span style="color: red">a</span></b>, <b><span style="color: red">s</span></b>,
            <b><span style="color: red">d</span></b> and <b><span style="color: red">f</span></b> keys
            or to use the <b><span style="color: red">j</span></b>, <b><span style="color: red">k</span></b>,
            <b><span style="color: red">l</span></b> and <b><span style="color: red">;</span></b> keys.
            These keys will move you around the maze in the same way that you learned in the first game.
        </p>
        <br>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-11">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
