<div id="container-instructions">

    <h1>Instructions: Game 2</h1>

    <hr>

    <div class="instructions well">

        <p>
            The rules of the game are the same as before. In each maze, you will find the three goals <b>A</b>,
            <b>B</b> and <b>C</b> Like in the last game, you can win points depending on how you play.
            The goals are worth different amounts of points and the points you win in each maze will be added to your
            total score.
        </p>
        <br>
        <p>
            <span style="font-style: italic"> However</span>, we won't tell you how many points you've won on each
            trial or give you any other information on which goals are the most valuable.
        </p>
        <br>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <div class="left">
                    <button type="button" id="previous" value="previous" class="btn btn-primary btn-lg previous">
                    <span class="glyphicon glyphicon-arrow-left"></span> Previous
                    </button>
                </div>
            	<!--&ndash;&gt;-->
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
