<div id="container-instructions">

    <h1>Instructions: Game 1</h1>

    <hr>

    <div class="instructions well">

        <p>
            In the first game you'll play, you will navigate a series of mazes. Each maze will be different, but
            in each maze there are three goals, labeled <b>A</b>, <b>B</b> and <b>C</b>. One of the goals is worth 10
            points. If you find this goal, you will win 10 points!
        </p>
        <br>
        <p>
            Which goal is worth 10 points will vary from maze to maze, but it depends on the
            the color of the circle you move around. Only one
            goal in a maze is worth any points. For each color, the same goal will win you 10 points.
            Learning which goal goes with which color will help you win more points.
        </p>
        <br>
        <p>
            The colors will also help you learn to navigate the mazes more quickly. You can use the same keys to move
            around in any two mazes with the same color. For example,
            if you find that the button "h" moves the blue circle up, it will do so in every square and maze with a
            blue circle.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-11">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
