<div id="container-instructions">

    <h1>Game 2: Goals</h1>

    <hr>

    <div class="instructions well">

        <p>
            Which goal should you choose? Use what you learned in the previous game to guess!
        </p>
        <br>
        <p>
            At the end of the game we will tell you how many points you've won across the entire game. These points
            will be added to the points you won in the previous game to determine your bonus for the HIT!
        </p>
        <br>
        <p>
            Click the button below when you are ready to play.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-11">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Begin Game 2 <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
